*.jl.cov
*.jl.*.cov
*.jl.mem
deps/silence.txt
deps/build.log
docs/build
docs/site
*.aux
*.log
docs/src/figures/diagram.pdf
Manifest.toml
src/aliasnewstruct.jl
.vscode
test/envs/use_exputils/Project.toml
